.header-top{
    background-color: orange;
    height: 33px;
    width: 100%;
}
.header-top .item{
    float: right;
}
.header-top .item ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.header-top .item ul li{
    padding: 0 20px;
    display: inline-flex;
}
.header-top .item ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#000000;
}
.header-top .item ul li a i{
    text-decoration: none;
    font-size: 16px;
    color:#fff0ff;
}
/*middle-header*/
.middle-header .search-box input{
    background: transparent;
    height: 30px;
    width: 90%;
}
.middle-header .mid-menu-item ul li{
    display: inline-block;
}
.middle-header .mid-menu-item ul li a{
     color: #000000;
     font-size: 17px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 70px;
}
.middle-header .mid-menu-item ul li a i{
     font-size: 20px;
 }
.middle-header .search-box{
    padding: 10px;
}
.middle-header .navbar-brand img{
    padding-left: 40px;
}
.header-assets .journal-links .top-menu li a.m-item {
    height: 40px;
    color: black;
}
.header-assets{
    padding: 0px 105px;
    /*border-bottom: 2px solid orange;*/
}
